@import url('https://raw.githack.com/SlRvb/logseq--ITS-Theme/main/custom.css');
@import url('https://raw.githack.com/SlRvb/logseq--ITS-Theme/main/Alt-Colors/SlRvb-Grey.css');

@import url('https://raw.githack.com/SlRvb/logseq--ITS-Theme/main/Snippets/encoded-fonts.css');
@import url('https://raw.githack.com/SlRvb/logseq--ITS-Theme/main/Snippets/alt-tags.css');
@import url('https://raw.githack.com/SlRvb/logseq--ITS-Theme/main/Snippets/hidden-root-bullet-on-zoom.css');

html .dark-theme.dark-theme,
html[data-theme=dark][data-theme=dark][data-color=logseq],
.dark-theme.dark-theme .logseq-tldraw, 
.dark-theme.dark-theme .whiteboard
{
  --background: 216 18% 11%; /*hsl(210 27% 6%)*/
  --foreground: 210 40% 98%; /*hsl(216 16% 12%)*/
  --secondary: 210 27% 6%; /*hsl(210 27% 6%)*/
  --popover: var(--background);
  --accent: 221, 18%, 24%; /*hsl(221, 18%, 24%)*/
  --accent-foreground: 209, 47%, 64%; 
  
  --border: 210, 14%, 20%; /*hsl(222 19% 31%)*/
  --primary: 221 16% 38%; /*hsl(221 16% 38%)*/
  --card: 221, 18%, 24%;
}
html .light-theme.light-theme,
html[data-theme=light][data-color=logseq],
.light-theme.light-theme .logseq-tldraw, 
.light-theme.light-theme .whiteboard
{
  --background: 214 100% 99%;
  --foreground: 220, 79%, 96%;
  --secondary: 220, 79%, 96%;
  --accent: 216, 31%, 76%;
  --accent-foreground: 221 16% 38%;
  --popover: var(--background);
  
  --border: 216, 32%, 88%;
  --primary: 221 16% 38%;
  --card: 221, 18%, 24%;
}
body,
html :is(.dark-theme.dark-theme, .light-theme),
html:is([data-theme=dark],[data-theme=light])[data-color=logseq],
.logseq-tldraw, 
.whiteboard 
{ 

  --ls-primary-background-color: hsl(var(--background));
  --ls-secondary-background-color: hsl(var(--secondary));
  --ls-quaternary-background-color: hsl(var(--border));
  --ls-tertiary-background-color: hsl(var(--secondary));
  --ls-border-color: hsl(var(--border));
  --ls-secondary-border-color: hsl(var(--border));

  --ls-header-button-hover: hsl(var(--accent));
  /* --ls-bullet-closed-background: var(--highlight); */
  --ls-block-bullet-color: hsl(var(--primary));
  --ls-guideline-color: hsl(var(--border));
  --ls-page-checkbox-color: hsl(var(--background));
  --ls-page-checkbox-border-color: hsl(var(--border));
  --ls-page-checkbox-checked-color: hsl(var(--accent));

  --ls-scrollbar-foreground-color: hsl(var(--primary));
  --ls-scrollbar-background-color: hsl(var(--accent));
  --ls-link-text-color: hsl(var(--accent-foreground));
  --ls-link-ref-text-color: hsl(var(--accent-foreground));
  --ls-page-properties-background-color: hsl(var(--secondary));

  --ls-whiteboard-button-background-selected: hsl(var(--accent));
  --logseq-whiteboard-toolbar-background: hsl(var(--secondary));
  --tl-background: hsl(var(--background));
  --tl-grid: hsl(var(--border));


  --lines: hsl(var(--border));
}


.tldraw.whiteboard,
.logseq-tldraw {
  --ls-button-background-hsl: 221 16% 38%;
  --ls-whiteboard-quick-links-background: hsl(221, 18%, 24%);
  --ls-whiteboard-quick-links-background-hover: hsl(221 16% 38%);

  --ls-whiteboard-button-background-selected: var(--accent);

  --ls-secondary-background-color: var(--note);

  --shadow-medium: 3px 3px 0 var(--outline);
}
.tl-menu,
.whiteboard-page-title-root {
  --tw-shadow: 
  4px 4px 0 var(--outline),
  0 0 0 2px var(--outline);
}

.whiteboard-page-title,
.tl-toolbar,
button.tl-select-input-trigger,
.tl-popover-trigger-button,
.tl-button,
.tl-menu,
.tl-quick-search-options,

.whiteboard-page-title-root,
.whiteboard-page-refs-count,
.tl-logseq-portal-header,
.tl-logseq-cp-container,
.tl-logseq-cp-container-bg,
.single-block>:is(.block-content-wrapper,.editor-wrapper),
.tl-positioned,
.tl-positioned-div,
.tl-positioned-svg,
.tl-quick-links,
.tl-quick-links-row:first-child,
.tl-selected
{ border-radius: 0; }
.tl-positioned-svg rect {
  rx: 0 !important;
  ry: 0 !important;
}
.tl-logseq-portal-container[data-portal-selected=true] { filter: unset; }
.tl-logseq-portal-container[data-portal-selected=true] .tl-logseq-cp-container-bg {
  box-shadow: 0 0 0 3px var(--accent2);
}
.tl-logseq-cp-container-bg {
  /* background-color: var(--note) !important; */
  box-shadow: 
    4px 4px 0 var(--outline),
    0 0 0 2px var(--outline);
}
.tl-logseq-portal-header:not(:hover),
.tl-logseq-portal-header:not(:hover) .page-ref,
.whiteboard-page-title:hover,
.tl-toggle-input[data-state=on] 
{ color: var(--text-dl) !important; }

.whiteboard-page-refs-count.open, 
.whiteboard-page-refs-count:hover {
  filter: unset;
  background-color: var(--td);
}



.menu-link.menu-link { 
  border-radius: var(--radius); 
  margin: 0;
}
.menu-links-wrapper {
  padding: .25rem;
}




:root,
:is(.dark-theme, .light-theme) {
  --video-width: 100%;
  --ls-scrollbar-width: 0;

  --color-level-1: var(--td);
  --radius: 0;
  --ls-right-ridebar-color: transparent;

  --ls-heading-font-family: "Harding";
  --ls-tag-text: var(--soft-text, hsl(var(--accent-foreground)));
  --ls-anchor-link-text-color: var(--soft-text, hsl(var(--accent-foreground)));
  
  --ph-highlight-color-blue: #245194;
  --ph-highlight-color-green: #577e57;
  
  
  /* Temp Style Fixes */
  /* --ls-modal-panel-color: var(--note, hsl(var(--background)));
  --ls-secondary-text-color: var(--text); */
  /* --color-level-4: #080e1b; */
}
.is-win32 { --ls-page-text-size: 17px; }
.is-mobile { --ls-page-text-size: 14px; font-size: 14px; }

.is-native-iphone iframe[id^=youtube-player] { height: 200px; }
.is-native-ipad iframe[id^=youtube-player] { height: 500px; }
a[href="#/page/A"] { 
  background-color: var(--ls-highlight-color-red); 
  color: var(--text-dl);
  opacity: 1;
  padding: 0 5px;
}

/* .inline:has(> iframe[id^=youtube-player]) {
  position: relative;
  padding-bottom: 56.25%;
}

iframe[id^=youtube-player] {
  position: absolute;
  width: 100%;
  height: 100%;
} */








/* TODO/Tasks */
/* Marker */
.marker-switch.block-marker:is( .DOING, .LATER ) { font-weight: bold; }
.marker-switch.block-marker.TODO  { color: var(--soft-text); }
.marker-switch.block-marker.DOING { color: #338fff; }
.marker-switch.block-marker.LATER { color: #3b6a91; }
.light-theme div[id^="school"] [data-refs-self*="done"]:not(:hover) { opacity: .2; }


/* .inline .block-content-inner { justify-content: flex-start; }
.inline .block-content-inner 
.timestamp .timestamp-label { display: none; }
.timestamp { display: inline-block;} */
/* .timestamp:not(:hover) { float: right; opacity: .5; } */


/* .cp__header { background-color: var(--outer-bar); } */





/* Right Sidebar Hide Properties */
.sidebar-item .page-properties:not(:hover) div { display: none; }
.sidebar-item .page-properties::before { 
  content: "Properties"; 
  width: auto;
  color: var(--inactive, var(--ls-link-ref-text-hover-color));
}
.sidebar-item.collapsed.collapsed.item-type-block .sidebar-item-header,
.sidebar-item.content.color-level {
    background-color: var(--note);
    box-shadow: 3px 3px 0 var(--outline);
}
.sidebar-item.collapsed.collapsed.item-type-block .sidebar-item-header {
  background-color: var(--outer-bar);
}




.datepicker { background-color: var(--outer-bar); }
.datepicker.datepicker.datepicker td { border-radius: 0; }

.datepicker td { text-align: center; }

.datepicker td.active, 
.datepicker td.active:hover 
{
  background-color: var(--bttn);
  border: 0;
}
.datepicker td.off {
  color: var(--inactive);
  opacity: 50%;
}








/* Weekday Plugin */
.journal-item:first-child > .journal > div > .content .items-center
{ padding-top: 2em; }
.is-journals .showWeekday { padding-top: .8em;  }
.showWeekday span + span + span { display: none; }
.showWeekday span { margin-left: 0; }
.showWeekday.showWeekday { 
  font-style: normal !important; 
  font-family: var(--ls-heading-font-family); 
  font-weight: 900; 
}

/* Day Plugin */
.block-content .lsp-hook-ui-slot, 
.block-content .lsp-hook-ui-slot [data-injected-ui] {
  display: unset;
}
.kef-days-day { width: unset; height: unset; }
.kef-days-prop-text { white-space: break-spaces; }

.kef-days-yearview-day { 
  --ls-active-primary-color: var(--text);
  background-color: var(--bg); 
}


/* Banner Plugin */
html[style*="banner"]:not([style*="📅"]) body:not(.is-mobile) :is(.cp__sidebar-main-layout, #left-container, .cp__right-sidebar, #main-content-container)
{ background-color: transparent; }
/* html[style*="banner"] .sidebar-item.content { margin-right: 10px; } */

html[style*="banner"]:not([style*="📅"]) body:not(.is-mobile) main > #app-container::before { 
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
  filter: blur(17px);
  opacity: 50%;
  
  background-image: var(--pageBanner); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html[style*="banner"]:not([style*="📅"]) body:not(.is-mobile) .cp__sidebar-main-content { 
  --ls-main-content-max-width: 850px;
  background-color: var(--note); 
  background: var(--note); 
  padding: 0 20px; 
  z-index: 10;
  /* box-shadow: 
    0 0 10px var(--outline),
    0 0 30px var(--outline); */
    box-shadow: 
    8px 8px 0 var(--outline),
    0 0 0 4px var(--outline);
    /* border: 5px solid var(--outline); */
}
html[style*="banner"]:not([style*="📅"]) div#banner {
  border: 4px solid var(--outline);
  /* box-shadow: 
    0 0 10px var(--outline),
    0 0 20px var(--outline); */
}
/* Light Mode */
html[style*="banner"][data-theme=light]:not([style*="📅"]) body:not(.is-mobile) main > #app-container {
  background-color: black;
}
html[style*="banner"][data-theme=light] body:not(.is-mobile) main > #app-container::before {
  opacity: 1;
}
html[style*="banner"]:not([style*="📅"]) body:not(.is-mobile) .cp__sidebar-main-content {
  box-shadow: 
  8px 8px 0 black,
  0 0 0 4px black;
}
html[style*="banner"]:not([style*="📅"]) div#banner
{ border: 4px solid black; }
html[style*="banner"]:not([style*="📅"]) .sidebar-item.content {
  border: 4px solid black;
  box-shadow: 5px 5px 0 black;
}
/* .sidebar-item-list {
  height: calc(100vh - 2px);
  padding-bottom: 20px;
} */


/* Todo Master */
.todo-master-progress-bar {
  font-family: var(--ls-default-font);
  letter-spacing: 1px;
  display: flex !important;
  flex: 1 1 auto;

  --ls-tertiary-background-color: var(--outer-bar);
}

.todo-master-progress-bar__label { 
  display: block;
  width: unset !important; 
  white-space: pre-wrap;
  word-break: keep-all;
}
.todo-master-progress-bar__label:not(:hover) .todo-master-progress-bar__fraction-label { display: none; }
.todo-master-progress-bar__bars {
  max-width: 240px;
  min-width: 100px;
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 0 0 2px var(--text);
}


/* Tags */
body {
  --tag-color: white;
  --tag-icon-color: var(--tag-color);
  --tag-border: none;
  --tag-padding: 0px 5px;
  --tag-margin: 5px;
  --tag-icon-size: var(--ls-page-text-size);
}

a.tag:is(
  [data-ref="notes"],
  [data-ref="journal"],
  [data-ref="health"],
  [data-ref="event"],
  [data-ref="contemplation"],
  [data-ref="contemplation/shadow"],
  [data-ref="gratitude"],
  [data-ref="example"],
  [data-ref="character-arc"],
  [data-ref="errands"],
  [data-ref="transferred"],
  [data-ref$="buy"]
)::before {
  content: var(--tag-icon);
  color: var(--tag-icon-color);
  font-family: "its";
  margin-right: var(--tag-margin);
  font-weight: 100;
  font-size: var(--tag-icon-size);
}
a.tag:is(
  [data-ref="journal"],
  [data-ref="health"],
  [data-ref="event"],
  [data-ref="contemplation"],
  [data-ref="contemplation/shadow"],
  [data-ref="gratitude"],
  [data-ref="example"],
  [data-ref="character-arc"],
  [data-ref="errands"],
  [data-ref="transferred"],
  [data-ref$="buy"]
) {
  padding: var(--tag-padding);
  opacity: 1;
  background-color: var(--tag-background);
  color: var(--tag-color);
  font-weight: 900;
  border: var(--tag-border);
}




.page-reference[data-ref="notes" i],
a.tag[data-ref="notes"] {
  border: 2px solid var(--ls-tag-text-color);
  padding: 0px 5px;
  box-shadow: 3px 3px 0 var(--outline);
  border-radius: 0;
  cursor: pointer;
  
  --ls-link-ref-text-color: var(--ls-tag-text-color);
}
.page-reference[data-ref="notes" i]::before,
a.tag[data-ref="notes"]::before {
  content: "\EC14";
  font-family: "its";
  margin-right: var(--tag-margin);
  color: var(--ls-tag-text-color);
}
.page-reference[data-ref="notes" i] .bracket 
{ display: none; }


a.tag[data-ref="journal"] {
  --tag-color: #338fff;
  --tag-background: #338fff30;
  --tag-icon: "\EC04";
  --tag-padding: 0 5px;
  --tag-icon-color: var(--tag-color);
  --tag-border: 3px solid var(--tag-color);
}
a.tag[data-ref="health"] { 
  --tag-icon: "\EC30";
  --tag-icon-color: var(--tag-color);
  --tag-color: #4fa54f;
  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}
a.tag[data-ref="event"] { 
  --tag-icon: "\EC04";
  --tag-icon-color: var(--tag-color);
  --tag-color: #5c7699;
  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}
a.tag[data-ref="contemplation"] {
  --tag-icon: "\EC10";
  --tag-icon-color: #cd82eb;
  --tag-color: var(--tag-icon-color);
  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}
a.tag[data-ref="contemplation/shadow"] {
  --tag-icon: "\EC10";
  --tag-icon-color: #3e4552;
  --tag-color: var(--tag-icon-color);
  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}

a.tag[data-ref="gratitude"] { 
  --tag-icon: "\EC30";
  --tag-icon-color: var(--tag-color);
  --tag-color: #ec458b;
  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}
a.tag[data-ref="example"] {
  --tag-icon: "\EC18";
  --tag-icon-color: #528bd4;

  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}
a.tag[data-ref="character-arc"] {
  --tag-icon: "\E900";
  --tag-icon-color: #e6813f;
  font-size: 0;
  --tag-margin: 0;
  --tag-padding: 0;
}
a.tag[data-ref="errands"] {
  --tag-icon: "\EC25";
  --tag-padding: 0;
  --tag-icon-color: #8b654b;
  --tag-border: 0;
  font-size: 0;
}
a.tag[data-ref="transferred"] {
  --tag-icon: "\EC03";
  --tag-padding: 0;
  --tag-icon-color: var(--inactive);
  --tag-border: 0;
  font-size: 0;
}
a.tag[data-ref$="buy"] {
  --tag-icon-color: #4fa54f;
  --tag-icon: "💲";
  font-size: 0;
  --tag-icon-size: 18px;
  --tag-border: 0;
  --tag-padding: 0;
  --tag-margin: 0;
}

.ls-block[data-refs-self*="style/kanban"] > .block-children-container > .block-children {
  display: flex;
  flex-direction: row;
  word-break: keep-all;
  word-wrap: normal;
  overflow-x: auto;
}
.ls-block[data-refs-self*="style/kanban"] .block-children > .ls-block 
{ flex: 1 1 300px; }
.ls-block[data-refs-self*="style/kanban"] .block-content .inline { 
  white-space: pre-wrap; 
  overflow-wrap: normal; 
  word-break: keep-all; 
}



.ls-block[data-refs-self*="style/cards"] > .block-children-container > .block-children {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ls-block[data-refs-self*="style/cards"] .block-children > .ls-block iframe { height: 150px; }
.ls-block[data-refs-self*="style/cards"] .block-children .block-main-container { padding-right: 0; }

.ls-block[data-refs-self*="style/cards"] .block-children .block-control-wrap { display: none; }



/* Dashboard */
a.tag[data-ref*="style/dashboard"] { display: none; }
.ls-block[data-refs-self*="style/dashboard"] > .block-children-container > .block-children {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.ls-block[data-refs-self*="style/dashboard"] > .block-children-container > .block-children > .ls-block 
{ 
  flex: 0 0 auto; 
  white-space: pre; 
  min-width: 250px;
  margin-left: unset;
}
#right-sidebar-container .ls-block[data-refs-self*="style/dashboard"] > .block-children-container { margin-left: 0; }
#right-sidebar-container .ls-block[data-refs-self*="style/dashboard"] > .block-children-container > .block-children { border-left: 0; }
.ls-block[data-refs-self*="style/dashboard"] > .block-main-container .block-content { border-bottom: 1px solid var(--hr); }

.ls-block[data-refs-self*="style/dashboard"] > .block-main-container > .block-control-wrap .bullet-link-wrap { display: none; }
.ls-block[data-refs-self*="style/dashboard"] > .block-main-container > .block-control-wrap { padding-right: 0; }





.ls-block[data-refs-self*="style/query/"] a[data-ref*="query"] 
{ display: none; height: 0; }

.ls-block[data-refs-self*="style/query/minimalism"] .custom-query table { margin-top: 0; }
.ls-block[data-refs-self*="style/query/minimalism"] .query-table table :is(th, td) 
{ padding: 2px 5px; }
.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) table tr td:is(:first-child, :last-child),
.ls-block[data-refs-self*="style/query/minimalism/no-hover"] .custom-query table tr td:is(:first-child, :last-child) 
{ padding-left: 0; }
.ls-block[data-refs-self*="style/query/minimalism"] .query-table table td div { margin: 0; }

.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) :is(.th, .cp__query-builder, .results-count),
.ls-block[data-refs-self*="style/query/minimalism/no-hover"] .custom-query :is(.th, .cp__query-builder, .results-count),
.ls-block[data-refs-self*="style/query/minimalism"] .custom-query .ui__icon + div 
{ display: none; }

.ls-block[data-refs-self*="style/query/minimalism"] .custom-query .ui__icon svg 
{ width: 16px; }

.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) thead th,
.ls-block[data-refs-self*="style/query/minimalism/no-hover"] .custom-query.custom-query thead th
/* ,
.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) .cp__query-builder
.ls-block[data-refs-self*="style/query/minimalism"] .query-table thead:not(:hover) th
.ls-block[data-refs-self*="style/query/minimalism"] .custom-query .cp__query-builder:not(:hover) :is(.query-builder-clause, .clauses-group)  */
{
  opacity: 0;
  font-size: 0;
  height: 0;
  width: 0;
  display: none;
}
.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) .query-table tr,
.ls-block[data-refs-self*="style/query/minimalism/no-hover"] .custom-query .query-table tr { background-color: unset; }

.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) .query-table th {  border-bottom: unset; }
.ls-block[data-refs-self*="style/query/minimalism/no-hover"] .custom-query .query-table table,
.ls-block[data-refs-self*="style/query/minimalism"] .custom-query:not(:hover) .query-table table { margin-bottom: 7px; }


.cp__right-sidebar .dsl-query { margin-left: -20px; }
/* .query-table table td { min-width: 3ch; max-width: none; } */


.ls-block[data-refs-self*="style/query/width/auto"] a[data-ref*="style/query/width/auto"] { display: none; }
.ls-block[data-refs-self*="style/query/width/auto"] .query-table table { width: auto; }

.ls-block[data-refs-self*="style/query/root"] .custom-query-results .ls-block > .block-children-container { display: none; }
.ls-block[data-refs-self*="style/query/root"] .custom-query-results .ls-block[haschild=true] .bullet-container { transform: rotate(90deg); }
.ls-block[data-refs-self*="style/query/root"] .custom-query-results .ls-block[haschild=true] .bullet-link-wrap:not(:hover) { background-color: var(--ls-block-bullet-border-color); }


a.tag[data-ref^="style/bullet/"] { display: none; }

.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container .bullet-link-wrap > .bullet-container .bullet:before,
.ls-block[data-refs-self*="style/bullet/"] > .block-main-container .bullet-link-wrap > .bullet-container .bullet:before {
  font-family: 'tabler-icons';
  color: var(--ls-primary-text-color);
  font-weight: 100;
  font-size: 16px;
  
  border-radius: 100%;
  position: relative;
  top: -8.5px;
  left: -6px;
  /* letter-spacing: 1px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 1px; */
}
.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container .bullet-link-wrap > .bullet-container.bullet-closed,
.ls-block[data-refs-self*="style/bullet/"]:not([data-refs-self*="style/bullet/root"]) > .block-main-container .bullet-link-wrap > .bullet-container.bullet-closed,
.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container .bullet-link-wrap > .bullet-container .bullet:before,
.ls-block[data-refs-self*="style/bullet/"]:not([data-refs-self*="style/bullet/root"]) > .block-main-container .bullet-link-wrap > .bullet-container .bullet:before 
{ background-color: var(--ls-primary-background-color); }


.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container > .block-children > .ls-block > .block-main-container .bullet-link-wrap > .bullet-container,
.ls-block[data-refs-self*="style/bullet/"]:not([data-refs-self*="style/bullet/root"]) > .block-main-container > div > .bullet-link-wrap > .bullet-container { transform: none; }

.ls-block[data-refs-self*="style/bullet/"] > .block-main-container .bullet-link-wrap:hover > .bullet-container:not(.typed-list),
.ls-block[data-refs-self*="style/bullet/"]:not([data-refs-self*="style/bullet/root"]) > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet,
.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container > .block-children > .ls-block > .block-main-container .bullet-link-wrap > .bullet-container .bullet
{ background-color: transparent; }

.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container > .block-children > .ls-block > .block-main-container .bullet-link-wrap > .bullet-container.bullet-closed,
.ls-block[data-refs-self*="style/bullet/root"] > .block-children-container .bullet-link-wrap > .bullet-container.bullet-closed .bullet:before
{ 
  /* color: var(--soft-text); 
  color: var(--accent); */
  transform: rotate(45deg); 
  /* background-color: var(--td); */

  border-radius: 0; 
}

.ls-block[data-refs-self*="style/bullet/"]:not([data-refs-self*="style/bullet/root"])[haschild="true"] > .block-main-container .block-content-wrapper .block-content .inline,
.ls-block[data-refs-self*="style/bullet/"] > .block-children-container > .block-children > .ls-block[haschild="true"] > .block-main-container > .block-content-wrapper .block-content > .inline {
  font-weight: 900; /*color: var(--soft-text);*/
}

.ls-block[data-refs-self*="style/bullet/index"] > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet:before { content: "\f33a"; }
.ls-block[data-refs-self*="style/bullet/query"] > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet:before { content: "\eb1c"; }
.ls-block[data-refs-self*="style/bullet/outline"] > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet:before { content: "\eef7"; }

.ls-block[data-refs-self*="style/bullet/research"] > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet:before { content: "\ef64"; }
.ls-block[data-refs-self*="style/bullet/character"] > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet:before { content: "\ef68"; }
.ls-block[data-refs-self*="style/bullet/concept"] > .block-main-container > div > .bullet-link-wrap > .bullet-container .bullet:before { content: "\ebca"; }


/* .ls-block[data-refs-self*="style/bullet/root/book"] > .block-main-container .bullet-link-wrap > .bullet-container .bullet:before, */
.ls-block[data-refs-self*="style/bullet/root/book"] > .block-children-container > .block-children > .ls-block > .block-main-container .bullet-link-wrap > .bullet-container .bullet:before 
{ content: "\efc5"; }




.ls-block[data-refs-self*="d"] .is-paragraph code {
  background-color: transparent;
  padding: 0 !important;

  font-family: monospace;
  font-style: italic;
  font-size: var(--ls-page-text-size);
  /* color: var(--soft-text); */
}






















/* LUMA Styling */
/* @import url('https://cdn.jsdelivr.net/gh/gavinmn/logseq-luma/custom.css'); */

/*
html:not(.is-mobile) #main-content-container, 
html:not(.is-mobile) .sidebar-item 
{ border: 1px solid var(--table); } 
html:not(.is-mobile) .cp__sidebar-left-layout.is-open+#main-content-container 
{ margin: 0 5px 10px 0px; } 
*/


.left-sidebar-inner {
  background-color: var(--outer-bar, hsl(var(--secondary)));
  border-right: 1px solid var(--outer-bar, hsl(var(--secondary)));
}
.left-sidebar-inner .nav-content-item .bd {
  background-color: var(--note, hsl(var(--background)));
  background-color: transparent;
  margin-bottom: 10px;
  /* border-bottom: 1px solid var(--table); */
}
.left-sidebar-inner .nav-content-item .bd ul a {
  padding: 5px .5em;
  font-size: 14px;
  color: var(--soft-text);
  transition: none;
}
.left-sidebar-inner .nav-content-item .bd ul a:hover {
  color: var(--text);
}
.cp__right-sidebar .sidebar-item.item-type-block .sidebar-item-header,
.left-sidebar-inner .create { background-image: none; }
.left-sidebar-inner .create { display: none; }

.left-sidebar-inner .cp__menubar-repos,
.left-sidebar-inner .nav-contents-container
{ padding: 0; }
.left-sidebar-inner { padding: 16px; }

.left-sidebar-inner:not(:hover) .ui__dropdown-trigger { border: none; }
.left-sidebar-inner:hover .nav-content-item .bd ul a .page-title {
  white-space: pre-wrap;
  text-overflow: unset;
}

#head,
#head > div,
.cp__right-sidebar.cp__right-sidebar,
.cp__sidebar-main-layout,
.cp__right-sidebar .sidebar-item-list,
#left-container { 
  background-color: var(--outer-bar, hsl(var(--secondary)));
  --ls-secondary-background-color: var(--outer-bar, hsl(var(--secondary)));
}
.sidebar-item > div > div,
#main-content-container { background-color: var(--ls-primary-background-color, hsl(var(--primary))); }

html:not(.is-native-iphone) #main-container { margin-bottom: 8px; }
html:not(.is-native-iphone) #main-container:not(.is-left-sidebar-open) { margin-left: 8px; }
html:not(.is-native-iphone) .sidebar-item-list { margin-right: 8px; }
html:not(.is-native-iphone) main:not(.ls-right-sidebar-open) #main-container { margin-right: 4px; }
.is-native-ipad .sidebar-item-list { padding-left: 8px; }

.is-native-ipad #head > div,
.is-native-ipad .cp__right-sidebar-topbar { 
  height: 3rem; 
  align-items: center; 
  align-content: center;
  padding-bottom: 22px;
  margin-top: 5px;
}
/* .is-native-ipad .sidebar-item-list { margin-top: 0px; } */

.sidebar-item .item-actions button { 
  background-color: transparent; 
  box-shadow: unset; 
  border: none;
}

/* Page/Block Properties */
.page-properties, .block-properties { 
	background-color: var(--td, hsl(var(--secondary)));
	padding: 10px 15px;
	border: 1px solid var(--ls-secondary-background-color, hsl(var(--secondary)));
	border-radius: 0;
  font-size: 13px;
  --ls-secondary-text-color: var(--soft-text);
  font-family: var(--ls-font-family);
}
.block-properties span { color: var(--inactive); }
.page-properties { font-weight: 500; }



/* .references-blocks .color-level { border-width: 2px; } */
.custom-query .color-level { border: 2px solid var(--table, hsl(var(--border))); }


.dark-theme {
  /* --note: #1a1e24;
  --outer-bar: #0b0f13; */
  /*
  --outer-bar: var(--code-bg);
  --note: #171b21; 
  */
}


/* Dropdown Fix */
/* a.chosen { --ls-a-chosen-bg: var(--dark-sidebar); } */

.breadcrumb > span { color: var(--inactive); }
.breadcrumb > span::before { display: none; }


/* List Line */
.block-children { border-left-width: 1px; }

/* Loseq Header Tab Hide */
/* 
html:not(.is-mobile) .cp__header:not(:hover), 
html:not(.is-mobile) .cp__right-sidebar-topbar:not(:hover) {
  height: 10px;
  opacity: 0;
} 

.left-sidebar,
.cp__header, .cp__right-sidebar-topbar {
  transition: all 150ms ease-in-out;
} 


html.is-win32 .cp__header,
html:not(.is-mobile) .cp__header { height: 3rem; }
*/


/* Popover */
.tippy-tooltip,
.tippy-wrapper {
  background-color: var(--note);
  border-radius: 0;
}


.CodeMirror.cm-s-solarized.cm-s-solarized {
  background-color: var(--code-bg);
  color: var(--code-text);
}
.CodeMirror.CodeMirror .CodeMirror-gutters {
  background-color: var(--dark-sidebar);
}

:is(h1,h2,h3,h4,h5,h6) { white-space: break-spaces; word-break: normal; }
:is(h1,h2,h3,h4,h5,h6)::after { white-space: nowrap; }

.ui__button[intent=border-link], 
.ui__button[intent=link],
#custom-context-menu a:hover { --ls-primary-text-color: var(--text-dl); }

.menu-links-outer, .menu-links-wrapper {
  border-radius: 0;
  --tw-shadow: 9px 9px 0 var(--outline), 0 0 0 3px var(--outline);
}

.block-ref h1.inline::after { display: none; }




/* Bullet Threading */
/* body {
  --ls-block-bullet-active-color: var(--accent2-lite);
  --ls-block-bullet-threading-width: 3px;
} */


/* bullet */
/* .ls-block:focus-within .bullet {
  background-color: var(--note);
  box-shadow: 0 0 0 2px var(--ls-block-bullet-active-color);
}
.ls-block:not(:focus-within) .bullet {
  background-color: var(--ls-block-bullet-color);
  box-shadow: none;
}

.ls-block .block-children:focus-within > .ls-block:not(:focus-within)::before {
  border-color: var(--ls-block-bullet-active-color);
}
.ls-block div.items-center { position: relative; }
.ls-block > .items-baseline { align-items: initial; } */

/* Lines */
/* .ls-block .ls-block > div > div.items-center::before {
  pointer-events: none;
  content: "";
  left: calc(var(--ls-block-bullet-threading-width) * -1);
  right: 6px;
  top: calc(-50% + var(--ls-block-bullet-threading-width) * 0.5 - 1px);
  bottom: 50%;
  position: absolute;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  border-bottom: var(--ls-block-bullet-threading-width) solid transparent;
}
.ls-block .ls-block:focus-within > div > div.items-center::before {
  border-color: var(--ls-block-bullet-active-color);
}
.ls-block .block-children > .ls-block::before {
  pointer-events: none;
  content: "";
  top: -.6rem;
  bottom: 0;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  left: calc(var(--ls-block-bullet-threading-width) * -1);
  position: absolute;
}
.ls-block .block-children:focus-within > .ls-block:not(:focus-within)::before 
{ border-color: var(--ls-block-bullet-active-color); }

.ls-block .block-children:focus-within > .ls-block:focus-within ~ .ls-block::before 
{ border-color: transparent; }

.ls-block[haschild] > div > .block-content-wrapper::before {
  pointer-events: none;
  content: "";
  top: 12px;
  bottom: 0;
  left: -17px;
  position: absolute;
  border-left: var(--ls-block-bullet-threading-width) solid transparent;
  z-index: -1;
}
.ls-block[haschild]:focus-within > div > .block-content-wrapper::before 
{ border-color: var(--ls-block-bullet-active-color); }


:is(.embed-block > div, .embed-page) > div > div > div > div.ls-block > div > div.items-center::before 
{ border-color: transparent !important; } */

.logseq-block-calendar .calendar-day-past 
{ color: var(--inactive); }

.logseq-block-calendar .calendar-head,
.logseq-block-calendar .calendar-nav a 
{ color: var(--text); }

.logseq-block-calendar a { color: var(--text); }

.logseq-block-calendar .button { opacity: 1; }
.logseq-block-calendar .calendar-day-today {
  background-color: var(--dark-accent);
  color: var(--text-dl)
}

.logseq-block-calendar .calendar-day-rec .dot-journal-with-task::after 
{ background-color: #0051ff; }
.logseq-block-calendar .calendar-day-rec .dot-journal-without-task::after 
{ background-color: var(--inactive); }
.logseq-block-calendar .calendar-day-rec .dot-task-done::after 
{ color: #32cf32; }
.logseq-block-calendar .calendar-day-rec .dot-task-undone::after 
{ color: hotpink; }




/* Transfer */
.block-ref { border-bottom: 0; }

.sidebar-item-header .breadcrumb.block-parents a { color: var(--text); }




/* Fanfic Styling */
.light-theme div[data-page-tags*="fanfic"] {
  --ls-heading-color: #900;
  --text: black;
}
.dark-theme div[data-page-tags*="fanfic"] {
  /* --ls-heading-color: #da3838; */
  --ls-heading-color: #c14343;
}

div[data-page-tags*="fanfic"] {
  /* --ls-heading-font-family: 'Georgia', 'Atkinson Hyperlegible' ,'serif'; */
  --ls-primary-text-color: var(--text);
  --ls-secondary-text-color: var(--text);
  --ls-document-text-color: var(--text);
  color: var(--ls-document-text-color);
  
  --ls-anchor-link-text-color: var(--ls-heading-color);
  /* --accent2-lite: var(--ls-heading-color);
  --ls-link-ref-text-color: var(--accent2-lite); */
}

div[data-page-tags*="fanfic"] h1 {
  color: var(--ls-heading-color);
}

div[data-page-tags*="fanfic"] blockquote {
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  border-left: 0;
  background-color: transparent;

  padding: 10px 25px 10px 20px;
  text-align: justify;
  word-spacing: -0.05em;
}
div[data-page-tags*="fanfic"]  a.tag:not(
  [data-ref="Q" i], [data-ref="Question" i],
  [data-ref="R" i], [data-ref="Research" i],
  [data-ref="P" i], [data-ref="Pro" i],
  [data-ref="C" i], [data-ref="Con" i],
  [data-ref="i" i], [data-ref="idea" i],
  [data-ref="B" i], [data-ref="Brainstorm" i],
  [data-ref="D" i], [data-ref="Dialogue" i],
  [data-ref="A" i], [data-ref="Answer" i],
  [data-ref="Plot" i],
  [data-ref="Quote" i],
  [data-ref="Transferred" i]
) {
  border-bottom: 1px dotted var(--text);
  border-radius: 0;
}
